.library {
	position: fixed;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	background-color: white;
	box-shadow: none;
	overflow: scroll;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	opacity: 0;
	h2 {
		padding: 2rem;
	}
}
.library-open {
	box-shadow: 2px 2px 50px gray;
	transform: translateX(0);
	opacity: 1;
}
.song {
	display: flex;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	img {
		width: 30%;
	}
	&:hover {
		background-color: lightblue;
	}
}
.song-description {
	padding-left: 1rem;
	font-family: 'Montserrat', sans-serif;
	h3 {
		font-size: 1rem;
		font-weight: bold;
	}
	h4 {
		font-size: 0.7rem;
	}
}
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	scrollbar-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}
.selected {
	background-color: violet;
}

@media screen and (max-width: 767px) {
	.library {
		width: 100%;
	}
}
